
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h3>Payment success! <a href="/Home">Click here</a> to continue</h3>
        </div>
        </div>
    </div>

