@using WebNhom5.Models.Entitis;
@model PagedList.IPagedList<Product>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="/Content/images/bnr-1.jpg" alt="" />
            </li>
            <li>
                <img src="/Content/images/bnr-2.jpg" alt="" />
            </li>
            <li>
                <img src="/Content/images/bnr-3.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="/Content/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--End-slider-script-->
<!--about-starts-->
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="/Content/images/abt-1.jpg" alt="" />
                    <figcaption>
                        <h2>Nulla maximus nunc</h2>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="/Content/images/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Mauris erat augue</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="/Content/images/abt-3.jpg" alt="" />
                    <figcaption>
                        <h4>Cras elit mauris</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            @{var group = Model.ToList().GroupBy(r => Model.ToList().IndexOf(r) / 4).ToList();
                foreach (var parent in group)
                {
                <div class="product-one">
                @foreach (Product item in parent)
                {
                <div class="col-md-3 product-left">
                <div class="product-main simpleCart_shelfItem">
                    <a href="/DetailProduct/ChiTiet/@item.id " class="mask"><img class="img-responsive zoom-img" src="/Content/images/@item.image" alt=" " /></a>
                    <div class="product-bottom">
                        <h3>@item.name</h3>
                        <p>@item.Brand.name</p>
                        <h4><a class="item_add" href="/Add-product?id=@item.id&quantity=1"><i></i></a> <span class=" item_price">$ @item.new_price</span></h4>
                    </div>
                    <div class="srch">
                        <span>-50%</span>
                    </div>
                </div>
                
                </div>
                }
               
                <div class="clearfix"></div>
            </div>
                    }
                }
            @Html.PagedListPager( Model ,page=> Url.Action("Index",new { page}))
        </div>
    </div>
</div>
<!--product-end-->