@using WebNhom5.Models.Entitis;


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Panelo - Free Admin Template</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css' />
    <!-- jQuery file -->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function () {
            $('#tabsmenu').tabify();
            $(".toggle_container").hide();
            $(".trigger").click(function () {
                $(this).toggleClass("active").next().slideToggle("slow");
                return false;
            });
        });
    </script>
</head>
<body>
    <div id="panelwrap">

        <div class="header">
            <div class="title"><a href="#">Panelo Admin</a></div>

            <div class="header_right">Welcome @Session[CommonConstants.NameSession] <a href="#" class="settings">Settings</a> <a href="/Admin/LoginAdmin/LogoutAdmin" class="logout">Logout</a> </div>

            <div class="clear"></div>
            <div class="submenu">

            </div>

            <div class="center_content">

                <div id="right_wrap">
                    <div id="right_content">
                        @*@{Html.RenderAction("Index", "IndexAdmin");}*@
                        @RenderBody()


                        <div class="clear"></div>
                    </div> <!--end of center_content-->


                </div>
                <div class="sidebar" id="sidebar">
                    <h2>Danh sách các bảng</h2>

                    <ul>
                        <li><a href="#" class="selected">Người dùng</a></li>
                        <li><a href="#">Sản phâm</a></li>
                        <li><a href="#">Danh mục sản phẩm</a></li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        </div>
</body>
</html>